@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@100&display=swap');
body{
    background-color: #353535;
}
*{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
}
header{
    background-color: #7289DA;
    text-align: center;
}
header>b{
    font-size: 40px;
    padding: 10px 0;
}

header>p{
    float:left;
    font-size: 17px;
    font-weight: bold;margin: 20 20;
}
.element{
    padding: 20px 30px;
    text-align: center;
    color: white;
    float: left;
    border: 1px solid pink;
}
.element:hover{
    background-color: gray;
}